.pokedex-img{
  position: relative;
}

.pokedex {
  #sprite-output{
    width: 200px;
    height: 140px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 85px;
    top: 175px;
    z-index: 3;
    & img {
      width: 150px;
    }
  }
  #poke-output{
    position: absolute;
    left: 455px;
    width: 235px;
    top: 195px;
    // border: 2px white dashed;
    color: $lime;
    background-color: $black;
    font-family: monospace;
    z-index: 3;
    }

  #type-output{
    background: red;
    width: 400px;
    height: 50px;
  }
  #poke-form{
    position: absolute;
    left: 483px;
    top: 285px;
    & label {
      color: white;
      font-weight: normal;
      font-family: monospace;
    }
    & button {
      margin-top: 10px;
    }
  }
}

#search1, #search2{
  width: 100%;
  margin: 7px;
  background-color: $black;
  font-family: monospace;
  color: $lime;
  &::placeholder {
    color: $lime;
  }
}

#poke-team {
  border: 1px solid black;
  width: 500px;
  height: 100px;
}
