.pokedex-img{
  position: relative;
  border: 1px blue dashed;
}

.pokedex{
  border: 5px black dashed;
  position: absolute;
  left: 50%;
  top: 50%;
}


#search1, #search2{
  width: 80%;
  // margin: 7px;
  background-color: $black;
  &::placeholder {
    font-family: monospace;
    color: $lime;
  }
}
