.pokedex-img{
  position: relative;
  border: 1px blue dashed;
}

.pokedex{

  position: absolute;
  // width: 35%;
  left: 483px;
  top: 285px;
}

#poke-form{



}


#search1, #search2{
  width: 100%;
  margin: 7px;
  background-color: $black;
  &::placeholder {
    font-family: monospace;
    color: $lime;
  }
}
